.ScanTokenVideo{
    width: 18em;
    height: 18em;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:black;

}   

#ScanTokenVideoElement{
    border-radius: 50%;
}