.CreateUserBox{
    margin: 1.5em, 0;
    padding: 1.5em;
    border-bottom: 1px solid #ccc;
    input, select{
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0.5em;
        width: 30em;
        height: 120%;
    }
    
}
 