.card-details{
 margin: 20px 0;
 padding-bottom: 20px;
    .card-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 20px;
        .card-btn{
            background-color: transparent;
            border: 0;
            padding: 10px;
            color: #344767;
        }
    }
}
.account-datails{
      padding: 10px  30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 30px;
    @media (max-width:991px) {
        flex-direction: column; 
    }
    .Account-img{
        ul{
            list-style: none;
            text-decoration: none;
            .prop-text{
                font-size: 15px;
                color: #344767;
                font-weight: 600;
            }
            .val-text{
                font-size: 15px;
                color: #67748e;
            }
        }
    }
   .Account-img img{
    border-radius: 10px;
    height: 200px;
    margin-top: 10px;

   }
   .AccountInfo{
    background: rgba(255,255,255,.9);
    min-width: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0,0,0,.05);
    padding-left: 20px;
    padding-top: 20px;
    h4{
        color: #344767;
        font-size: 20px;
        margin-bottom: 8px;
    }
    ul{
        list-style: none;
        text-decoration: none;
        .prop-text{
            font-size: 15px;
            color: #344767;
            font-weight: 600;
        }
        .val-text{
            font-size: 15px;
            color: #67748e;
        }
    }
   }
    
}
.CreateAccountBox{

    padding: 0 .7em;
    input{
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0.5em;
        width: 35em;
        height: 120%;
        @media(max-width:768px){
            width: 28em;
        }
        @media(min-width:769px) and (max-width:991px){
            width: 43em;
        }
        @media(min-width:991px) and(max-width:1300px){
            width: 30em;
        }
       
    }

    textarea{
        border-radius: 5px;
        border: 1px solid #ccc;
      
        width: 35em;
        @media(max-width:768px){
            width: 28em;
        }
        @media(min-width:769px) and (max-width:991px){
            width: 43em;
        }
        @media(min-width:991px) and(max-width:1300px){
            width: 30em;
        }
    }
}
