.tokens-btn{
    background: #ddd;
    padding: 30px;
    width: 100%;
    display:"flex";
    justify-content: center;
    position: relative;
    margin-top: 20px;
}
.tokens-btn button{
 position: absolute;
 left: 50%;
 transform: translate(-50%,-50%);
 padding: 10px 40px;
}
.tokenDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.tokenDetails_Stats{
    border-left: 1px solid #ddd;
    padding-left: 1.8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.tokenDetails_Token{
    display: flex;
    zoom: 0.36;
    justify-content: center;
    position: relative;
    bottom: 6em;
}